{% extends "common.html" %}
{% load static %}
{% block main_content %}
    
<form method="post" class="container border border-primary col-md-6 p-3 my-3 rounded">
    {% csrf_token %}

    <h3 class="text-center">Signup</h3>
    
    <!-- Display non-field errors -->
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}
    {% endif %}

    <!-- Loop through each form field and render it -->
    {% for field in form %}
        <div class="fieldWrapper mb-2">
            <!-- Render the label -->
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            <!-- Render the field itself -->
            {{ field }}

            <!-- Display field errors -->
            {% if field.errors %}
                <div class="text-danger">
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <!-- Submit button -->
    <button class="btn btn-primary w-100 mb-2" type="submit">Signup</button>
    <hr>
</form>

{% endblock main_content %}