.landing{
    background-image: url('/static/media/photo-1563865436874-9aef32095fad.avif') !important;  
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} 
footer{
    justify-content: space-evenly;
}