<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
<body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a class="navbar-brand" href="#">Food Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}" aria-current="page">Home</a>
              </li>

              {% if user.is_authenticated and user.is_staff %}
              <li class="nav-item">
                      <a class="nav-link active" href="{% url 'add-blog' %}" >Add Blog</a>
                  {% endif %}
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
    
              {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ request.user.username }}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'view-profile' request.user.id %}">Profile</a></li>
                  {% if request.user.is_staff %}
                  <li><a class="dropdown-item" href="{% url 'view-all-blogs' %}">View All Blogs</a></li>
                  <li><a class="dropdown-item" href="{% url 'view-user' 'user' %}">All Users</a></li>
                  <li><a class="dropdown-item" href="{% url 'view-user' 'staff' %}">All Staff</a></li>
                  {% endif %}
                  <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                  <li>
                    <form action="{% url 'logout' %}" method="post">
                      {% csrf_token %}
                      <button class="btn btn-outline-danger w-100" type="submit">Logout</button>
                    </form>
                  </li>
                </ul>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary ms-2" href="{% url 'login' %}">Log In</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <main>
      {% block main_content %}
      



      {% endblock %}
    </main>
    
    <footer class="bg-dark text-light py-4 mt-5">
      <div class="container text-center">
        <h3>My Food Blog</h3>
        <p>Food Africa</p>
        <p>Demo</p>
        <p>Contact Us</p>
      </div>
    </footer>
    


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>